* {
   margin: 0;
   padding: 0;
}
body, html {
   height:100%;
}
#canvas {
   position:absolute;
   height:100%;
   width:100%;
}
body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

div .marker {
    position: absolute;

    display:				inline-block;
    color:					#ffffff;
    font-size:				9pt;
    user-select: none;
    -webkit-user-select: none;
}

p {
    padding: 0px 0px;
    margin: 0;
}

.marker {
    background-color: red;
    max-width: 340px;
}

.marker:nth-child(2){
    font-size: 10px;
}